option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "photodb.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "PhotoDB/photodb/wsgi.py"
    StaticFiles: "/static/=www/static/"

container_commands:
  01_migrate:
    command: "python PhotoDB/manage.py migrate"
    leader_only: true

