{% extends "photodb/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'photodb/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="center-text">Welcome</h1>
            <p class="center-text">Welcome to PhotoDB! Please use the box below to search for photos.</p>
            <div id="photos" class="row">

                <!-- Photo Modal -->
                <div class="modal fade" id="lightbox" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">[[modal_photo.id]]</h5>
                                <div class="controls">
                                    <a data-toggle="modal" data-target="#delete-one-confirmation" data-dismiss="modal" class="control-item">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a :download="download_filename" title="Download" :href="modal_photo.image" class="control-item">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <a title="Edit" :href="modal_photo.id" class="control-item">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" data-dismiss="modal" class="control-item">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="modal-body">
                                <div class="photo-nav">
                                    <i class="fa fa-chevron-left modal-nav" @click="prev_photo()"></i>
                                    <img class="photo" :src="modal_photo.image" alt="">
                                    <i class="fa fa-chevron-right modal-nav" @click="next_photo()"></i>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
                <!-- Single Delete Confirmation Modal -->
                <div class="modal fade" id="delete-one-confirmation" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirm</h5>
                            </div>
                            <div class="modal-body">
                                Delete photo?
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="delete_modal_photo()" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#lightbox">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
                <!-- Multiple Delete Confirmation Modal -->
                <div class="modal fade" id="delete-multiple-confirmation" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm</h5>
                                </div>
                                <div class="modal-body">
                                    Delete photos?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" @click="delete_selected()" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->
                <!-- Tag Modal -->
                <div class="modal fade" id="tagadditon" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add tag to [[selected_indices.length]] photos</h5>
                            </div>
                            <div class="modal-body">
                                <input v-model="bulk_tag">
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="tag_selected()" class="btn btn-primary" data-dismiss="modal">Add Tag</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->

                <div class="col-12">
                    <div class="search-box input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Filter</span>
                        </div>
                        <input type="text" id="filter" placeholder="" v-model="filter_text" class="form-control">
                        <div class="input-group-prepend">
                            <button v-if="filter_text.length == 0" class="btn btn-secondary" @click="get_untagged()">
                                Show untagged
                            </button>
                            <button v-if="filter_text.length > 0" class="btn btn-secondary" @click="clear_filter()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
                <div id="controls" class="col-12">
                    <div class="controls">
                        <div>
                            <button class="btn btn-secondary" @click="toggle_multiselect">
                                <span v-if="!multiselect_mode">Enable multi-select</span>
                                <span v-else>Disable multi-select</span>
                            </button>
                        </div>
                        <div>
                            <button v-if="multiselect_mode" data-toggle="modal" data-target="#delete-multiple-confirmation":disabled="disable_buttons" class="btn delete control">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button v-if="multiselect_mode"  data-toggle="modal" data-target="#tagadditon" :disabled="disable_buttons" class="btn tag control">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3" v-cloak v-for="(photo, index) in photos">

                    <a href="#" v-if="!multiselect_mode" data-toggle="modal" data-target="#lightbox" @click="set_modal_photo(photo, index)">
                        <div class="thumbnail-container">
                            <img class="thumbnail" :src="photo.thumbnail" alt="">
                        </div>
                    </a>

                    <a href="#" v-else @click="select_photo(index)">
                        <div class="thumbnail-container">
                            <img class="thumbnail" v-bind:class="{ selected: is_selected(index) }" :src="photo.thumbnail" alt="">
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'photodb/js/utils.js' %}"></script>
    <script src="{% static 'photodb/js/home.js' %}"></script>
{% endblock %}
