#year, #month, #day{
    width: 5em;
}
.uploaded_photo{
    max-height: 200px;
    max-width: 200px;
    margin: 5px;
}
.tag{
    margin: 5px;
    background-color: #555;
    padding: 5px;
    border-radius: 5px;
}
.tag button{
    background-color: #555;
    border: 0;
    color: #fff;
}
.error{
    color: red;
}